<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/css/main.css" type="text/css" charset="utf-8">
        
        <title>My awesome To-do list app</title>
    </head>

    <img src="https://to-do-cdn.microsoft.com/static-assets/c87265a87f887380a04cf21925a56539b29364b51ae53e089c3ee2b2180148c6/icons/logo.png" alt="To Do Logo" title="To DO Logo" width="200" height="60" />

    <div>
        <body>
            <h1>This is my to do list application.</h1>
            <p>Dont have an account? Register here</p>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </body>
    </div>

</html>