<!DOCTYPE html>
<html lang = 'en'>

<head>
    <meta charset="UTF-8">
    <title> Register </title>
    <script src='static/js/jquery-3.6.3.min.js'></script>
    <script src='static/js/registration.js'></script>
</head>

<body>
    <header> Register </header>
    <form action='register' method = 'POST'>
        <select name='title'>
            <option value='Dr'>Dr</option>
            <option value='Miss'>Miss</option>
            <option value='Mr'>Mr</option>
            <option value='Mrs'>Mrs</option>
        </select>

        <p>Full Name</p>
        <input name="Fullname" >
        <p>Email</p>
        <input name="Email" >
        <p>Username</p>
        <input name="username">
        <p>Password</p>
        <input type='password' name='password'>
        <input type='submit' value='Register!'>
        
    </form>

</body>
</html>