<!DOCTYPE html>
<html lang = 'en'>

<head>
    <meta charset="UTF-8">
    <title> To - do list for work </title>
</head>

<body>
    <h1>Existing tasks</h1>
    <ol> 
        <li>Task 1 Item 1</li>
        <li>Item 2</li>
    </ol>

    <ol> 
        <li> Task 2 Item 1</li>
        <li>Item 2</li>

    </ol>


    <form action='Create a new task'>
        <label for = "new">New Task name </label>
        <label for="due">Date Due:</label>
        <input type="date" id="start" name="trip-start" value="2023-01-01" min="2023-01-01" max="2040-12-31">
        <input type='submit' value='Create!'>
    </form>

</body>
</html>